.card {
  width: 16rem;
  margin: 20px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid #ededed;

  cursor: pointer;
  transition: all 0.5s;
}
.card:hover {
  transform: scale(1.05);
}

.card-img {
  max-width: 13rem;
  max-height: 13rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  display: flex;
  margin-bottom: 1rem;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bag-icon {
  color: #535353;
}
